<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">League Dev</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Test</a>
        </li>
    </ul>
</nav>