body{
	background: #dff;
}

#main-header{
	background: #bdd;
}

#main-header a{
	text-decoration: none;
	color:#000;
}

form #search-field{
	width: 300px;
	height: 200px;
}

#home-loading{
    display: none;
} 

/*below not working*/
/*
#search-bar{
	display: block;
	margin: 0 auto;
}*/