<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<title>{{ page_name }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>

	<body>
		<header id="main-header">
			<div class="container">
				<a href="{{ url_for('home') }}">
					<h1>Scout Five</h1>
				</a>
			</div>
		</header>

		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

		{% block content %}
		{% endblock %}
	</body>

</html>