{% extends "banner_template.html" %}
{% block content %}
	<div id="home-loading">
		<p>Loading Search For:</p>
		<ul id="searched-list"></ul>
	</div>
	<div id="home-content">
		<form id="search-bar" method="POST">
			<p>Search For Multiple Summoners</p>
			<textarea id="search-field"></textarea>
			<br>
			<input type="submit" value="Search" onclick="loading();">
		</form>
	</div>
	
	<script>
		document.getElementById("search-bar").addEventListener("submit", e => {
			if(document.getElementById("search-field").value == "") {
				alert("Enter something to search.");
				e.preventDefault();
			}
		});

		function loading(){
			var input = document.getElementById("search-field").value;
			if(input != "") {
				input = input.replace(/\n/g, ",");
				document.getElementById("search-bar").action = "/"+input;
				var ul = document.getElementById("searched-list");
				var arr = input.split(",");
				for(var i in arr) {
					var li = document.createElement("li");
					li.appendChild(document.createTextNode(arr[i]));
					ul.appendChild(li);
				}
				document.getElementById("home-loading").style.display = "block";
				document.getElementById("home-content").style.display = "none";
			}
        }
		
	</script>
{% endblock %}