{% extends "banner_template.html" %}
{% block content %}
	<form id="search-bar" action="/results/" method="POST">
		<p>Search For Multiple Summoners</p>
		<textarea id="search-field"></textarea>
		<br>
		<input type="submit" value="Search">
	</form>
	
	<script>
		document.getElementById("search-bar").addEventListener("submit", e => {
			var input = document.getElementById("search-field").value;
			if(input == "") {
				e.preventDefault();
				alert("Enter something to search.")
			} else
				document.getElementById("search-bar").action += input.replace(/\n/g, ",");
		});
	</script>
{% endblock %}