{% extends "banner_template.html" %}
{% block content %}
	<div id="home-loading">
		<p>Loading Search For:</p>
		<ul id="loading-list"></ul>
	</div>
	<div id="home-content">
		<form id="search-bar" method="POST">
			<p>Search For Multiple Summoners</p>
			<textarea id="search-field"></textarea>
			<br>
			<input type="submit" action="/home" value="Search" onclick="loading();">
		</form>
	</div>
	
	<script>
		document.getElementById("search-bar").addEventListener("submit", e => {
			if(document.getElementById("search-field").value == "") {
				alert("Enter something to search.");
				e.preventDefault();
			}
		});

		function loading(){
			var input = document.getElementById("search-field").value;
			if(input != "") {
				var arr = input.split("\n");input = input.replace(/\n/g, ",");
				var loadingList = document.getElementById("loading-list");
				
				for(var i = 0; i < arr.length; i++) {
					if(arr[i] != "") {
						var s = arr[i];

						var li = document.createElement("li");
						li.appendChild(document.createTextNode(s));
						loadingList.appendChild(li);

						if(i == 0) {
							s = "/"+s;
						} else if(i < arr.length-1) {
							s += ",";
						}
						
						document.getElementById("search-bar").action += s;
					}
				}
				document.getElementById("home-loading").style.display = "block";
				document.getElementById("home-content").style.display = "none";
			}
        }
		
	</script>
{% endblock %}